<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <title>v-for</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="cor in cores" v-text="cor"></li>
        </ul>
        <hr>

        <template v-for="(cor, i) in cores">
            <p>{{ i }}</p>
            <h1>{{ cor }}</h1>
        </template>

        <ul>
            <li v-for="pessoa in pessoas">
                <div v-for="(valor, chave, index) in pessoa">
                    {{ index + 1 }}) {{ chave }}: {{ valor }}
                </div>
                <hr>
            </li>
        </ul>



    </div>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['verde', 'amarelo', 'azul', 'vermelho'],
            pessoas: [
                { nome: 'Gabriel', idade: 25, peso: 45 },
                { nome: 'Maria', idade: 30, peso: 50 },
                { nome: 'Jose', idade: 35, peso: 55 }
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }

    h1,
    p {
        display: inline;
    }
</style>