<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <title>v-show</title>
</head>

<body>
    <div id="app">
        <template v-if="logado"> <!-- Uso template para renderizar um conjunto de elementos sem precisar colocar div -->
            <p>Usuário logado: {{ nome }}</p>
            <p>Perfil: {{ perfil }}</p>
        </template>

        <p v-else-if="anonimo">Navegando como anônimo</p>
        <p v-else="logado">Nenhum usuário logado!</p>

        <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
        <input type="checkbox" v-model="anonimo">

        <hr>
        <footer v-show="!logado">Você é um desconhecido</footer>
        <footer v-show="logado">Desenvolvido por {{ developer }}</footer>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                teste: "oi",
                nome: "Maria",
                developer: "Gabriel",
                perfil: "admin",
                logado: false,
                anonimo: false
            }
        })
    </script>

</body>

</html>