#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.perigo {
	background-color: red;
}

.quadrado {
	width: 100px;
	height: 100px;
}

.barra-progresso {
	height: 30px;
	width: 200px;
	border: 1px solid black;
}

.progresso {
	background-color: white;
	height: 100%;
}