<script src="https://unpkg.com/vue"></script>

<div id="desafio">
    <!-- 1) Exiba um alert quando o botão for clicado -->
    <div>
        <button @click="exibeAlerta">Exibir Alerta</button>
        <button v-on:click="exibeAlerta">Exibir Alerta</button>
    </div>
    
    <!-- 2) Escute o evento "keydown" e armazene o valor na propriedade
        data (dica: event.target.value) -->
    <div>
        <input @keydown="valor = $event.target.value" type="text">
        <p>{{ valor }}</p>
    </div>
    
    <!-- 3) Ajuste o exemplo 2 para disparar o evento "keydown" somente
        quando a tecla for ENTER -->
    <div>
        <input @keydown.enter="disparaEnter" type="text">
        <p>{{ valor }}</p>
    </div>
</div>
<script src="app.js"></script>